@import "compass";
$grey1:rgba(255,255,255,0.95);
$grey2:rgba(255,255,255,0.85);
$grey3:rgba(255,255,255,0.25);
$grey4:rgba(255,255,255,0.1);

@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 100;
    src: local('Exo 2 Thin'), local('Exo2-Thin'), url(../font/exo.woff) format('woff');
}
html {
    min-width: 320px;
}
body {
    background: url(../img/bg4.png);
    background-size: 100%;
    font: 15px/21px 'Exo 2', Roboto, sans-serif;
    font-weight: 100;
    color: $grey1;
    margin: 0 auto;
    max-width: 1000px;
    overflow-y: hidden;
}
a {
    color: $grey1;
    text-decoration: none;
}
b {
    font-weight: bold;
}
.copyright {
    font-size: 13px;
    text-align: center;

    &:last-child {
        padding-bottom: 40px;
    }
}

// iscroll
.page {
    float: left;
    @include transform(translate3d(0,0,0));
    height: 100%;
}
.child-wrapper {
    height: 100%;
    @include transform(translate3d(0,0,0));
}

// loading
.loading-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #e6f0f5;
    @include transition(opacity 0.5s);

    &.complete {
        opacity: 0;
    }
    // .loader, .loader2 {
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     width: 40px;
    //     height: 40px;
    //     margin: -40px 0 0 -20px;
    //     border: 2px solid transparent;
    //     border-top-color: #53c7e7;
    //     border-radius: 50%;
    //     -webkit-animation: spin 1s infinite;
    // }
    // .loader2 {
    //     -webkit-animation: spin 2s infinite ease;
    // }
    img {
        width: 100%;
        min-width: 320px;
        max-width: 640px;
        position: absolute;
        left: 50%;
        top: 40%;
        @include transform(translate(-50%,-50%));
    }
    p {
        position: absolute;
        bottom: 30px;
        left: 50%;
        width: 300px;
        text-align: center;
        margin: 0 0 0 -150px;
        color: #003A4E;
        font-size: 12px;
    }
}
.footer-time {
    margin: 0;
    padding: 0 10px 40px;
}

// summary
.top-bar {
    @include transition(all .5s ease-out);
    @include transform(translate3d(0,-60px,0));
    text-align: center;
    position: relative;
    margin: 15px 10px 10px;

    &.complete {
        @include transform(translate3d(0,0,0));
    }

    .pm25-icon {
        position: absolute;
        left: 0;
        top: 0;
        background: $grey3;
        padding: 0 10px;
        font-size: 12px;
    }
    .time, .date {
        position: absolute;
        right: 0;
        top: 0;
    }
    .time {
        top: 21px;
    }
    .level {
        position: absolute;
        right: 0;
        left: 0;
        top: 21px;
        font-size: 12px;
    }
    .location {
        font-size: 18px;
        vertical-align: middle;
    }
}
.dashboard {
    overflow: hidden;
    margin: 10px;

    .big-bang {
        text-align: center;
        border-bottom: 1px solid $grey3;
        .aqi-number {
            display: block;
            font-size: 100px;
            line-height: 1.2;
            opacity: 0;
            @include ellipsis(true);
            &.complete {
                -webkit-animation: bounceIn .7s;
            }  
        }
    }
    .threesome-wrap {
        height: 42px;
        overflow: hidden;
    }
    .threesome {
        text-align: center;
        float: left;
        width: 33.33%;
        @include transition(all .4s);
        @include transform(translate3d(0,-42px,0));

        &.complete {
            @include transform(translate3d(0,0,0));
        }
        &:first-child {
            text-align: left;
        }
        &:last-child {
            text-align: right;
            position: relative;
            left: 1px;
        }
        .threesome-icon {
            background: $grey3;
            display: inline-block;
            width: 85px;
            font-size: 13px;
            text-align: center;
            vertical-align: top;
        }
        .threesome-number {
            display: inline-block;
            width: 85px;
            text-align: center;
            font-size: 13px;
            font-family: Roboto, sans-serif;
        }
    }
}
.guess {
    font-family: Arial, sans-serif;
    font-size: 14px;
    background: $grey4;
    margin: 10px 10px 5px;
    overflow: hidden;
    text-align: center;
    opacity: 0;
    @include transition(all .5s);
    @include transform(translate3d(0,-15px,0));

    &.complete {
        opacity: 1;
        @include transform(translate3d(0,0,0));
    }

    p {
        padding: 0 20px;
    }
}
#aqiChart {
    width: 100%;
    height: 200px;
    opacity: 0;
    @include transition(all .5s);
    @include transform(translate3d(0,15px,0));

    &.complete {
        opacity: 1;
        @include transform(translate3d(0,0,0));
    }
}
.weather-info {
    font-family: Roboto, sans-serif;
    font-size: 13px;
    margin: 0 10px;
    padding-bottom: 40px;
    overflow: hidden;
    opacity: 0;
    @include transition(all .5s);
    @include transform(translate3d(0,15px,0));

    &.complete {
        opacity: 1;
        @include transform(translate3d(0,0,0));
    }

    .weather-threesome {
        width: 33.3%;
        float: left;
        text-align: center;

        .weather-icon {
            height: 21px;
            display: inline-block;
            vertical-align: bottom;
        }
    }
}
.footer {
    width: 100%;
    background: rgba(0,0,0,0.7);
    position: fixed;
    left: 0;
    bottom: 0;

    ul {
        margin: 0;
        padding: 10px 0;
        list-style-type: none;
        overflow: hidden;

        li {
            float: left;
            width: 33.3%;
            text-align: center;

            img {
                height: 21px;
                display: inline-block;
                vertical-align: bottom;
            }
        }
    }
}

// detail
.detail {
    font-size: 14px;
    font-weight: 300;

    .detail-header {
        margin: 15px 10px 0;
        overflow: hidden;

        .title {
            display: inline-block;
            padding: 2px 10px;
            background-color: $grey3;
        }
    }
    .detail-dashboard {
        overflow: hidden;
        margin: 0 10px;

        .section {
            padding: 10px 0 20px;
            border-bottom: 1px solid $grey3;

            .eins {
                overflow: hidden;
                span {
                    display: inline-block;
                }
                .number {
                    float: left;
                    font-size: 80px;
                    line-height: 80px;
                }
                .zwei {
                    overflow: hidden;
                    padding-top: 20px;
                    p {
                        margin: 5px 0 0;
                    }
                    .big {
                        margin: 0 10px;
                        font-size: 16px;
                    }
                    .small {
                        font-size: 12px;
                    }
                }
            }
            .drei {
                margin: 10px 0 0;
                clear: both;
                overflow: hidden;
                .box {
                    float: left;
                    width: 50%;
                }
            }
        }
    }
    .detail-intro {
        overflow: hidden;
        // .intro-title {
        //     float: left;
        //     clear: both;
        //     position: relative;
        //     background-color: $grey3;
        //     padding: 0 0 0 10px;
        //     margin-top: 5px;

        //     .number {
        //         margin-left: 10px;
        //         font-weight: bold;
        //     }
        //     .cube {
        //         position: absolute;
        //         top: 0;
        //         left: 100%;
        //         height: 21px;
        //         width: 21px;
        //         opacity: 0.8;
        //         display: none;

        //         &.level1 {
        //             background-color: #3baa24;
        //         }
        //         &.level2 {
        //             background-color: #FFBF00;
        //         }
        //         &.level3 {
        //             background-color: #D93600;
        //         }
        //         &.level4 {
        //             background-color: #4C0066;
        //         }
        //     }
        // }
        .intro-intro {
            clear: both;
            padding: 15px 0 0;
            font-size: 13px;
            line-height: 1.5;
        }
    }
}
#monthChart {
    width: 100%;
    height: 200px;
    margin: 10px 0;
}

// points
#wrapper3 {
    margin: 15px 10px;
}
.points {
    font-size: 14px;
    font-weight: 300;

    .points-header {
        overflow: hidden;

        .title {
            display: inline-block;
            padding: 2px 10px;
            background-color: $grey3;
        }
    }
    .point-suggest {
        background-color: $grey4;
        padding: 10px;
        margin: 15px 0 10px;

        span {
            display: block;
            margin-bottom: 10px;
        }
        p {
            margin: 0;
        }
    }
}
#pointsChart {
    width: 100%;
    height: 400px;
    margin-left: -10px;
}

// points
#wrapper4 {
    margin: 15px 10px;
}
.citys {
    font-size: 14px;
    font-weight: 300;

    .citys-header {
        overflow: hidden;

        .title {
            display: inline-block;
            padding: 2px 10px;
            background-color: $grey3;
        }
    }
    .my-city {
        margin: 15px 0 10px;
        background-color: $grey4;
        padding: 10px;

        span {
            display: inline-block;
            text-align: center;
        }

        .mycity-name {
            width: 20%;
        }
        .mycity-rank, .mycity-aqi {
            width: 38%;
        }
    }
}
#citysChart {
    width: 100%;
    height: 500px;
    margin-left: -10px;
}

// fantastic
.fantastic {
    margin: 15px 10px;

    .fantastic-header {
        overflow: hidden;

        .title {
            display: inline-block;
            padding: 2px 10px;
            background-color: $grey3;
        }
    }
}
#allmap {
    width: 100%;
    // height: 50px;
    // line-height: 50px;
    padding: 15px 0;
    background-color: $grey3;
    margin: 10px 0;
    text-align: center;
    font-size: 13px;
    // @include transition(height 0.5s);
    -webkit-tap-highlight-color: transparent;

    &.show {
        height: 200px;
        // line-height: 21px;
    }
}
#columnChart {
    width: 100%;
    height: 250px;
    margin: 5px 0;
}

// ios 
.ios {
    padding: 10px 0 0;
}

// media query
@media only screen and (min-width: 1000px) {
    // for ipad Landscape
    .guess, .guess p {
        margin: 20px 0;
    }
    #aqiChart {
        height: 380px;
    }
    .detail .detail-dashboard .section {
        padding: 10px 0 20px;

        .drei {
            margin: 10px 0 0;
        }
        .intro-intro {
            padding: 20px 0 0;
        }
    }
    #monthChart {
        height: 330px;
    }
    #columnChart {
        height: 350px;
    }
    #allmap.show {
        height: 250px;
    }
    .points .point-suggest {
        padding: 20px;
        margin: 20px 0;
    }
    #pointsChart {
        height: 450px;
    }
    #citysChart {
        height: 620px;
    }
}
@media only screen and (min-width: 700px) and (max-width: 1000px) {
    // for ipad Portrait
    .dashboard .big-bang .aqi-number {
        font-size: 130px;
        line-height: 1.2;
    }
    .guess, .guess p {
        margin: 20px 0;
    }
    #aqiChart {
        height: 480px;
    }
    .guess, .weather-info {
        font-size: 16px;
    }
    .detail .detail-dashboard .section {
        padding: 10px 0 20px;
        font-size: 16px;

        .eins .number {
            font-size: 100px;
            line-height: 1;
        }
        .eins .zwei {
            padding-top: 35px;
        }
        .drei {
            margin: 10px 0 0;
        }
        .intro-intro {
            padding: 20px 0 0;
            font-size: 16px;
        }
    }
    #monthChart {
        height: 450px;
    }
    #columnChart {
        height: 500px;
    }
    #allmap.show {
        height: 350px;
    }
    .points .point-suggest {
        padding: 20px;
        margin: 20px 0;
    }
    #pointsChart {
        height: 650px;
    }
    #citysChart {
        height: 820px;
    }
}

@include keyframes(bounceIn) {
    0% {
        opacity: 0;
        @include transform(scale3d(.5,.5,1));
    }

    50% {
        opacity: 1;
        @include transform(scale3d(1.05,1.05,1));
    }

    70% {
        @include transform(scale3d(.9,.9,1));
    }

    100% {
        @include transform(scale3d(1,1,1));
    }
}

@include keyframes (bounceInDown) {
    0% {
        opacity: 0;
        @include transform(translate3d(0,-15px,0));
    }

    60% {
        opacity: 1;
        @include transform(translate3d(0,10px,0));
    }

    80% {
        @include transform(translate3d(0,-5px,0));
    }

    100% {
        @include transform(translate3d(0,0,0));
    }
}

@include keyframes (rubberBand) {
    0% {
        @include transform(scale3d(1,1,1));
    }
    30% {
        @include transform(scale3d(1.25,0.75,1));
    }
    40% {
        @include transform(scale3d(0.75,1.25,1));
    }
    60% {
        @include transform(scale3d(1.15,0.85,1));
    }
    100% {
        @include transform(scale3d(1,1,1));
    }
}

@include keyframes (spin) {
    from {
        @include transform(rotate(0));
    }
    to {
        @include transform(rotate(360deg));
    }
}